<div class="row">
  <div class="col-md-5 col-md-offset-3 col-sm-7 col-sm-offset-2 col-xs-9 col-xs-offset-1">
    <input type="text" class="form-control" placeholder="Last.fm User..." ng-model="ctrl.user"/>
  </div>
  <div class="col-xs-1">
    <button type="button" class="btn btn-primary" ng-click="ctrl.getTopTracks(ctrl.user)">Search</button>
  </div>
</div>

<div class="row br-xs"></div>

<div class="row">
  <div class="col-md-5 col-md-offset-3 col-sm-7 col-sm-offset-2 col-xs-9 col-xs-offset-1">
    <p>N.B. Spotify APIs does not allow users to get the playcount of the tracks. To use this page you have to get a Last.fm account and link it with your account of Spotify</p>
  </div>
</div>

<div class="row br-lg"></div>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center col-xs-1">Rank</th>
          <th class="text-center col-xs-2">Artist</th>
          <th class="text-center col-xs-2">Album</th>
          <th class="text-center col-xs-2">Track</th>
          <th class="text-center col-xs-1">Playcount</th>
          <th class="text-center col-xs-2">Return [$]</th>
          <th class="text-center col-xs-2">Return [€]</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="track in ctrl.tracks | orderBy:'playcount':true">
          <td class="text-center col-xs-1">{{$index + 1}}</td>
          <td class="text-center col-xs-2"><a ng-href="{{track.artist.url}}">{{track.artist.name}}</a></td>
          <td class="text-center col-xs-2"><a ng-href="{{track.album.url}}">{{track.album.name}}</a></td>
          <td class="text-center col-xs-2"><a ng-href="{{track.url}}">{{track.name}}</a></td>
          <td class="text-center col-xs-1">{{track.playcount}}</td>
          <td class="text-center col-xs-2">{{track.return.dollars}}</td>
          <td class="text-center col-xs-2">{{track.return.euros}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
