div .br-xs {
  display: block;
  margin: 10px 0px 0px 0px;
}

div .br-sm {
  display: block;
  margin: 16px 0px 0px 0px;
}

div .br-md {
  display: block;
  margin: 24px 0px 0px 0px;
}

div .br-lg {
  display: block;
  margin: 30px 0px 0px 0px;
}
